body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #f1f1f8; 
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
}

h1 {
	color: #f1f1f8;
	font: 700 2.5rem/2.875rem "Montserrat", sans-serif;
}

h4 {
	color: #f1f1f8;
	font: 700 1.375rem/1.75rem "Montserrat", sans-serif;
}

a {
	color: #f1f1f8;
	text-decoration: underline;
}

a:hover {
	color: #f1f1f8;
	text-decoration: underline;
}

#heroimage {
    width:100%;
    height:100vh;
    background: url('../images/landingpicture.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.animalcards {
	padding-left: 5%;
	padding-right: 5%;
}

.card {
	background-color: transparent;
	margin-bottom: 50px;
}

.sectionheader {
	color: #f1f1f8;
	font: 700 60px "Montserrat", sans-serif;
	text-align: center;
	margin-bottom: 30px;
}

#counter {
	background-color: #7fff00;
}

section {
	padding-bottom: 30px;
	padding-top: 30px;
}

.tabs {
	background-color: #7fff00;
}

.tabs .card {
	border: none;
	background: transparent;
}

.tabs .card-body {
	padding: 1rem 0 1.25rem 0;
}

.tabs .card-title {
	margin-bottom: 0.5rem;
}

.counter {
	padding-top: 6.5rem;
	padding-bottom: 5.375rem;
	margin-top: 3rem;
	background-color: #862191;
	text-align: center;
}

.sizingtext {
	color: #f1f1f8;
	font: 400 1rem/1.5rem "Open Sans", sans-serif;
}

.textbigger, .textsmaller{
	font-size: 50px;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 25px;
}

.footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #262431;
	text-align: center;
}



/*     NAVIGATION     */

.navbar-custom {
	background-color: #ff0080;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 700 0.75rem/2rem "Montserrat", sans-serif;
	transition: all 0.2s ease;
}

.navbar-custom .navbar-brand.logo-text {
	font: 700 2.375rem/1.5rem "Montserrat", sans-serif;
	color: #fff;
	letter-spacing: -0.5px;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0 0.75rem 0 0.75rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #00c9db;
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #fff;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}



/*     BACK TO TOP     */
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #00c9db url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #36edfd; 
}



/*     MEDIA QUERIES     */
@media (min-width: 768px) {

	h1 {
		font: 700 3.25rem/3.75rem "Montserrat", sans-serif;
	}

	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
		box-shadow: none;
        background: transparent;
	}
	
	.navbar-custom .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
		color: #fff;
	}
	
	.navbar-custom .nav-item .nav-link:hover,
	.navbar-custom .nav-item .nav-link.active {
		color: #00c9db;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 1.5rem 0.5rem 2rem;
		box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
		background-color: #ff0080;
	}

	.navbar-custom.top-nav-collapse .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link {
		color: #fff;
	}
	
	.navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
	.navbar-custom.top-nav-collapse .nav-item .nav-link.active {
		color: #00c9db;
	}	
}


@media (min-width: 992px) {
	
	.tabs .card-body {
		padding: 1rem 0 1.5rem 0;
	}
	
	.counter {
		padding-top: 6rem;
		padding-bottom: 4.5rem;
	}
}



@media (min-width: 1200px) {
	
	.navbar-custom {
		padding: 2.125rem 5rem 2.125rem 5rem;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 5rem 0.5rem 5rem;
	}
	
	.tabs {
		padding-bottom: 6.5rem;
	}
}



.content{
	width: 100%;
	height: 90%;
}

